@font-face {
	font-family: coder;
	src: url('coder.ttf');
}

body {
	background-color: #00254E;
	font-family: 'Futura', 'Menlo', 'Monaco', 'Helvetica', 'Arial';
}

#sse60
{
    	background-color: #4091F4;
    	padding:0px;
    	clear:both;
    	text-align:center;
    	border-radius: 4px;
    	-moz-border-radius: 4px;
    	-webkit-border-radius: 4px;
}
#sses60
{
   	margin: 0 auto;	
	font-size:0;
}
#sses60 ul, #sses60 li {
    	display:inline;
    	list-style-type: none;padding:0;margin:0;zoom:1;
}
#sses60 a
{
    	text-align: center;zoom:1;
    	display: inline-block;
	font: normal 12px Arial;
	padding:10px 16px;/*This defines the size of each menu item*/
	text-decoration:none;
}

#talk {
	margin: 2.8% auto 1% auto;
	text-align: center;
	font-family: coder;
	font-smooth: never;
	color: #4091F4;
	font-size: 32px;
	-webkit-font-smoothing: none;
	font-weight: bold;
}

#board {
	margin: 0 auto;
	border-spacing: 5px;
}

.slot {
	border-radius: 10px;
	border: 2px solid #F0314C;
	width: 70px;
	height: 70px;
}

#difficulty {
	margin: 0 auto;
	padding-top: 60px;
	font-weight: bold;
	font-family: coder;
	font-smooth: never;
	color: #4091F4;
	font-size: 32px;
	-webkit-font-smoothing: none;
	text-align: center;
}

#turn {
	margin: 0 auto;
	width: 470px;
	height: 35px;
	font-family: coder;
	font-smooth: never;
	font-size: 32px;
	-webkit-font-smoothing: none;
	font-weight: bold;
	text-align: center;
}

#turn .redturn {
	color: #F0314C;
}

#turn .blueturn {
	color: #4091F4;
}

#wins {
	margin: 0 auto;
	width: 570px;
	height: 151px;
	font-size: 220px;
	font-weight: bold;
	display: none;
}

#wins .human {
	color: #F0314C;
	float: left;
	text-align: left;
}

#wins .computer {
	color: #4091F4;
	float: right;
	text-align: right;
}

#draw {
	margin: 0 auto;
	width: 270px;
	height: 151px;
	padding-top: 60px;
	font-size: 220px;
	font-weight: bold;
	color: #F4A340;
	text-align: center;
}

#draw .draw {
	color: #F4A340;
	text-align: center;
}
